body {
    background-color: rgb(247, 202, 201);
    /* background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%); */
}

#Download {
    width: 200px;
    margin-left:auto;
    margin-right:auto;
}

#title {

    color: rgb(0, 0, 5);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    /* background-color: rgba(200, 200, 200, 1); */

}

/* #dropdown {
    font-size: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(212, 151, 20);

} */

#category {
    /* width: 175px; */
}

button {
    align-self: center;
}

img {
    height: fit-content;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(58, 168, 247);
}

#response {
    margin: 20px;
    height: 400px;
    
}

#download-button{
    margin: 20px;
    
}

.favsimgs{
    height: 80%;
    width: 100%;
    object-fit: cover;
    border : none;
}

#search-string {
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-radius: 5px;
    border-width: 0.5px;
    width: 300px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

#heart {
    color: #fb3958;
}