body {
    background-color: #fefbdf !important; ;
    /* background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%); */
}

#Download {
    width: 200px;
    margin-left:auto;
    margin-right:auto;
}

option{
    text-align: center;
}
#wallgetterbutton{
    border-width: none;
    border: none;
    background: none;
}

#next-button{
margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2em;
}

#logo{
    height: 30%;
    width: 40%;
    border: none;
    border-radius: 30px;
    margin-left: 10px;
    
}

#favorites_header{
    /* font-family: 'Trebuchet MS', sans-serif; */
    font-family: 'Noto Serif', serif;
    color: #20287f;
}

#title {

    color: rgb(0, 0, 5);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    /* background-color: rgba(200, 200, 200, 1); */

}

/* #dropdown {
    font-size: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(212, 151, 20);

} */


button {
    align-self: center;
}

.favclass {
    height: 250px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(25, 248, 9);
    object-fit: cover;
}
#response-image {
    /* margin: 20px; */
    height: 500px;
    width: 750px;
    object-fit: cover;
}
img {
    height: fit-content;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(58, 168, 247);
}



#download-button{
    margin: 20px;
}

.favsimgs{
    height: 80%;
    width: 100%;
    object-fit: cover;
    border : none;
}

#search-string {
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-radius: 5px;
    border-width: 0.5px;
    width: 300px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

#heart {
    color: #fb3958;
}

i{
    font-size: 1.65em;
}
